{% extends "base.html" %}

{% block title %}Book Store{% endblock %}

{% block content %}
  <h2 class="section-title">Available Books</h2>

  <div class="book-list">
    {% for book in books %}
      <div class="book-card">
        <a href="{{ url_for('book.book_details', book_id=book.id) }}">
          {% if book.image_data %}
            <img src="data:image/jpeg;base64,{{ book.image_data }}" alt="{{ book.title }}">
          {% else %}
            <img src="{{ url_for('static', filename='images/default.png') }}" alt="No image">
          {% endif %}
          <h3>{{ book.title }}</h3>
        </a>
        <p><strong>Author:</strong> {{ book.author }}</p>
        <p><strong>Price:</strong> {{ book.price }} ₺</p>
        <a class="details-button" href="{{ url_for('book.book_details', book_id=book.id) }}">Details</a>
      </div>
    {% endfor %}
  </div>
{% endblock %}

  