{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

  <h1>Admin Book Manage Panel</h1>
  <a href="{{ url_for('book.add_book') }}" style="display: inline-block; margin-bottom: 20px; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Add New Book</a>

  <div class="book-list">
    {% for book in books %}
      <div class="book-card">
        <a href="{{ url_for('book.book_details', book_id=book.id) }}">
          {% if book.image_data %}
            <img src="data:image/jpeg;base64,{{ book.image_data }}">
          {% else %}
            <img src="/static/images/default.png">
          {% endif %}
          <h3>{{ book.title }}</h3>
        </a>
        <p>Author: {{ book.author }}</p>
        <p class="price">Price: {{ book.price }} ₺</p>

        <div style="margin-top: 10px;">
          <a href="{{ url_for('book.update_book', book_id=book.id) }}" class="update-btn">Update</a>
          <a href="{{ url_for('book.delete_book', book_id=book.id) }}" class="delete-btn">Delete</a>
        </div>

        <a href="{{ url_for('book.book_details', book_id=book.id) }}" style="margin-top: 10px; display: inline-block; text-decoration: none; color: #007bff;">Details</a>
      </div>
    {% endfor %}
  </div>
  {% endblock %}




