<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Book Manage Panel</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=1.0">
</head>
<body>
  <header class="site-header">
    <div class="logo">
      <img src="{{ url_for('static', filename='images/book.png') }}" alt="Logo" class="logo-icon">
      <h1>Book Panel</h1> 
    </div>
    <nav class="navbar">
      <ul>
        <li><a href="{{ url_for('book.admin_home') }}">Home</a></li>
        <li><a href="{{ url_for('book.add_book') }}">Add Book</a></li>
        <li><a href="{{ url_for('book.update_book') }}">Update Book</a></li>
        <li><a href="{{ url_for('book.manage_user') }}">User Settings</a></li>
      </ul>
    </nav>
  </header>
  <h1>Admin Book Manage Panel</h1>
  <a href="{{ url_for('book.add_book') }}" style="display: inline-block; margin-bottom: 20px; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">Add New Book</a>

  <div class="book-list">
    {% for book in books %}
      <div class="book-card">
        <a href="{{ url_for('book.book_details', book_id=book.id) }}">
          {% if book.image_data %}
            <img src="data:image/jpeg;base64,{{ book.image_data }}">
          {% else %}
            <img src="/static/images/default.png">
          {% endif %}
          <h3>{{ book.title }}</h3>
        </a>
        <p>Author: {{ book.author }}</p>
        <p class="price">Price: {{ book.price }} ₺</p>

        <div style="margin-top: 10px;">
          <a href="{{ url_for('book.update_book', book_id=book.id) }}" class="update-btn">Update</a>
          <a href="{{ url_for('book.delete_book', book_id=book.id) }}" class="delete-btn">Delete</a>
        </div>

        <a href="{{ url_for('book.book_details', book_id=book.id) }}" style="margin-top: 10px; display: inline-block; text-decoration: none; color: #007bff;">Details</a>
      </div>
    {% endfor %}
  </div>
</body>
</html>



