
{% extends "base.html" %}

{% block title %}Manage User{% endblock %}

{% block content %}
  <div class="form-container">
    <form class="admin-add-user-form" method="POST" action="{{ url_for('user.manage_users') }}">
      <div class="profile-container">
        <div class="profile-img-container">
          <img src="{{ user.profile_image }}" alt="Profile" class="profile-img">
          <input type="file" name="profile_image" class="profile-img-input" />
        </div>
        <div class="form-fields">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" value="{{ user.username }}">

          <label for="email">Email</label>
          <input type="email" name="email" id="email" value="{{ user.email }}">

          <label for="phone">Phone</label>
          <input type="text" name="phone" id="phone" value="{{ user.phone }}">

          <label for="first_name">First Name</label>
          <input type="text" name="first_name" id="first_name" value="{{ user.first_name }}">

          <label for="last_name">Last Name</label>
          <input type="text" name="last_name" id="last_name" value="{{ user.last_name }}">

          <label for="password">New Password</label>
          <input type="password" name="password" id="password" placeholder="New Password">

          <label for="role">Role</label>
          <select name="role" id="role">
            <option value="user" {% if user.role == 'user' %}selected{% endif %}>User</option>
            <option value="admin" {% if user.role == 'admin' %}selected{% endif %}>Admin</option>
          </select>
          <button type="submit" class="save-btn">Save</button>
          <input type="hidden" name="delete_user" value="{{ user.id }}">
          <button type="submit" class="delete-btn" onclick="return confirmDelete()">Delete</button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}


